body {
  background-color: #07273b;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1em 0;
}

.current-player {
  text-align: center;
  margin-bottom: 1em;
}

.current-player::before,
.current-player::after {
  content: '~';
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  border: 3px solid #ff9500;
}

.board-cell:hover {
  background-color: #e4e4e4;
}
