body {
  background-color: #07273b;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding: 5vh 0;
}

.subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}

.current-player {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.25em;
  margin-bottom: 1em;
}

.current-player::before,
.current-player::after {
  content: '~';
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  border: 3px solid #ff9500;
}

.board-cell {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
}

.board-cell:hover {
  background-color: #e4e4e4;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 5em 1.5em 2em 1.5em;
  border-radius: 10px;
}

.message {
  font-size: 1.5rem;
  color: #07273b;
  text-align: center;
}

.winner {
  display: block;
}

.reset-btn {
  background-color: #07273b;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5em 3em;
  margin-top: 5em;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 450px) {
  .board-cell {
    font-size: 5rem;
  }
}
